#school-logo {
    height: 100vh;
    position: absolute;
    width: 100%;
    background: white;
    animation: jumboanimation 0.5s linear 1.2s 1 reverse;
    animation-fill-mode: forwards;
}

#school-logo>p {
    text-align: center;
    padding-top: 30vh;
    
    
}

.jumbotron {
    height: 100vh;
    padding-top: 40vh;
    text-align: center;
    background-color: white;
    animation: bgdark 0.7s linear 1.7s 1 normal;
    animation-fill-mode: forwards;
}

.jumbotron>h1 {
    font-size: 30px;
    opacity: 0;
    animation: jumboanimation 1s linear 3.2s 1 normal;
    animation-fill-mode: forwards;
}

#title {
    font-size: 60px;
}

/*"Scroll Down" text, which is set to bottom of jumbotron*/
#jumbo-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 50px;
    clear: both;
}

/*changes made specifically to font of jumbo-footer*/
#jumbo-footer>p {
    text-align: center;
    padding: 0;
    margin: 0;
    opacity: 0;
    animation: jfootanimation 2s linear 5.2s 1 normal;
    animation-fill-mode: forwards;
}

@keyframes jumboanimation {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes jfootanimation {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes bgdark {
    0% {background-color: white;}
    100% {background-color: #d5d6d8}
}
