/*all css animations------------------------------*/

@keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes bgdark {
    0% {background-color: white;}
    100% {background-color: #d0d0d0}
}

/*-----------------------------------------------*/

html {
    scroll-behavior: smooth;
}

body {
    background-color: #d0d0d0;
}

a {
    color: black;
}

#school-logo {
    height: 100vh;
    position: absolute;
    width: 100%;
    background: white;
    animation: fade-in 0.5s linear 1.2s 1 reverse;
    animation-fill-mode: forwards;
}

#school-logo>p {
    text-align: center;
    padding-top: 30vh;
}

.jumbotron {
    height: 100vh;
    padding-top: 40vh;
    text-align: center;
    background-color: white;
    animation: bgdark 0.7s linear 1.7s 1 normal;
    animation-fill-mode: forwards;
    margin-bottom: 0;
}

.jumbotron>h1 {
    font-size: 30px;
    opacity: 0;
    animation: fade-in 1s linear 3.2s 1 normal;
    animation-fill-mode: forwards;
}

#title {
    font-size: 60px;
}

#jumbo-footer>a:hover {
    color: #0a8f0a;
    text-decoration: none;
}

/*"Scroll Down" text, which is set to bottom of jumbotron*/
#jumbo-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 50px;
    clear: both;
    text-align: center;
    padding: 0;
    margin: 0;
    opacity: 0;
    animation: fade-in 2s linear 5.2s 1 normal;
    animation-fill-mode: forwards;
}

.greentxt {
    color: #0ec30e;
}

.text-group {
    padding: 2% 2% 0% 2%;
    height: 100vh;
}

.text-group-s {
    padding: 2% 2% 0% 2%;
    height: 100vh;
}

.light-bg-group {
    background-color: #f0f0f0;
}

.dark-bg-group {
    background-color: #dddddd;
}

.btn-success {
    background-color: #0ec30e;
}

#recruit {
    margin: 10px;
    padding: 20px;
    box-shadow: 0px 1px 3px black;
    border-radius: 20px;
}

#recruit>* {
    text-align: center;
}

#recruit>a {
    padding-top: 5%;
}