.jumbotron {
    height: 100vh;
    padding-top: 50vh;
    text-align: center;
}

.jumbotron>h1 {
    font-size: 30px;
}

#jumbo-footer {
    text-align: center;
    position: fixed;
}

#jumbo-footer>p {
    padding: 0;
    margin: 0;
}

