body {
    background-color: #d0d0d0;
}

a {
    color: black;
    
}

a:hover {
    text-decoration: none;
    color: black;
}

.jumbotron {
    background-color: #999;
    border-radius: 0px;
    transition: background-color 0.2s linear 0s;
    padding-bottom: 10px;
    padding-top: 10px;
}
.jumbotron:hover {
    color: white;
    background-color: #0ec30e;
}
.greentxt {
    color: #0ec30e;
}

.light-bg-group {
    background-color: #f0f0f0;
}

.dark-bg-group {
    background-color: #dddddd;
}

.btn-success {
    background-color: #0ec30e;
}

#accounts {
    height: 100vh;
}